.cont_burger {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 1rem;
    grid-template-areas:
        'he he he'
        "co co co"
        'fo fo fo';
}

.he {
    grid-area: he;
}

.fo {
    grid-area: fo;
    bottom: 0;
    background-color: rgb(255, 194, 48);
}

.co {
    grid-area: co;
    display: flex;
    justify-content: space-evenly;
    margin: 2.1rem 0;
}