.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 180px 1fr 1fr 1fr 83px;
    grid-gap: 0.2rem;
    grid-template-areas:
        "header header header header header"
        "menu menu menu menu menu"
        "contenido contenido contenido contenido contenido"
        "contenido contenido contenido contenido contenido"
        "footer footer footer footer footer";
}

.header{
    grid-area: header;

}

.contenido{
    grid-area: contenido;
}

.menu{
    grid-area: menu;
}

.home{
    grid-area: home;
}

.footer{
    grid-area: footer;
}

.border{
    border: 4px solid rgb(0, 0, 0)
}